@import './components/board';
@import './components/card';
@import './components/button';

:root {
  --gray-light: #efefef;
  --gray: #e2d8d8;
  --gray-dark: rgb(168, 160, 160);
  --radius-medium: 5px;
  --green: rgb(201, 252, 208);
  --blue: rgb(179, 179, 247);
}

body {
  margin: 0;
  font-family: 'Roboto';
}
